# "CH02. 파이썬 프로그래밍의 기초, 자료형"
> Numbers, Strings, Lists

- toc: false
- badges: false
- comments: false
- categories: [python]
- hide_{github,colab,binder,deepnote}_badge: true

## 02-1 숫자

인터프리터는 간단한 계산기로 기능합니다: 표현식을 입력하면 값을 출력합니다. 표현식 문법은 간단합니다. +, -, *, / 연산자들은 대부분의 다른 언어들 (예를 들어, 파스칼이나 C)처럼 동작합니다; 괄호 (()) 는 묶는 데 사용합니다. 예를 들어:

In [1]:
2+2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5

1.6

In [5]:
17 / 3  # classic division returns a float

5.666666666666667

In [6]:
17 // 3  # floor division discards the fractional part

5

In [7]:
17 % 3  # the % operator returns the remainder of the division

2

In [8]:
5 ** 2  # 5 squared

25

In [9]:
2 ** 7  # 2 to the power of 7

128

In [10]:
width = 20
height = 5 * 9
width * height

900

## 02-2 문자열

숫자와는 별개로, 파이썬은 문자열도 다룰 수 있는데 여러 가지 방법으로 표현됩니다. 작은따옴표('...') 나 큰따옴표("...")로 둘러쌀 수 있는데 모두 같은 결과를 줍니다 2. 따옴표를 이스케이핑 할 때는 \ 를 사용할 수 있습니다:

In [11]:
'spam eggs' # single quotes

'spam eggs'

In [12]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [13]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [14]:
'"Yes," they said.'

'"Yes," they said.'

In [15]:
"\"Yes,\" they said." # 즉 백슬래시(\)를 작은따옴표(')나 큰따옴표(") 앞에 삽입하면 백슬래시(\) 뒤의 작은따옴표(')나 큰따옴표(")는 문자열을 둘러싸는 기호의 의미가 아니라 문자 ('), (") 그 자체를 뜻하게 된다.

'"Yes," they said.'

In [16]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [17]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [18]:
 print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [19]:
 # 문자열 리터럴은 여러 줄로 확장될 수 있습니다. 한 가지 방법은 삼중 따옴표를 사용하는 것입니다: """...""" 또는 '''...'''. 줄 넘김 문자는 자동으로 문자열에 포함됩니다. 하지만 줄 끝에 \ 를 붙여 이를 방지할 수도 있습니다. 
 # 다음 예:

In [20]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [21]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [22]:
# 두 개 이상의 문자열 리터럴 (즉, 따옴표로 둘러싸인 것들) 가 연속해서 나타나면 자동으로 이어 붙여집니다.
'Py' 'thon'

'Python'

In [23]:
text = ('Put several strings within parentheses '
        'to have them joined together.')

In [24]:
text

'Put several strings within parentheses to have them joined together.'

In [25]:
# 변수들끼리 혹은 변수와 문자열 리터럴을 이어붙이려면 + 를 사용해야 합니다
prefix = 'Py'

In [26]:
prefix + 'thon'

'Python'

In [27]:
word = 'Python'

In [28]:
# 문자열은 인덱스 (서브 스크립트) 될 수 있습니다. 첫 번째 문자가 인덱스 0에 대응됩니다. 
# 문자를 위한 별도의 형은 없습니다; 단순히 길이가 1인 문자열입니다:
word[0]  # character in position 0

'P'

In [29]:
word[5]  # character in position 5

'n'

In [30]:
# 인덱스는 음수가 될 수도 있는데, 끝에서부터 셉니다:
word[-1]  # last character

'n'

In [31]:
word[-2]  # second-last character

'o'

In [32]:
word[-6]

'P'

In [33]:
# 인덱싱에 더해 슬라이싱(slicing) 도 지원됩니다. 인덱싱이 개별 문자를 얻는데 사용되는 
# 반면, 슬라이싱 은 부분 문자열(substring)을 얻는 데 사용됩니다:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [34]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [35]:
# 슬라이스 인덱스는 편리한 기본값을 갖고 있습니다; 
# 첫 번째 인덱스를 생략하면 기본값 0 이 사용되고, 두 번째 인덱스가 생략되면 기본값으로 슬라이싱 되는 문자열의 길이가 사용됩니다.
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [36]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [37]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [38]:
# 하지만, 범위를 벗어나는 슬라이스 인덱스는 슬라이싱할 때 부드럽게 처리됩니다:
word[4:42]

'on'

In [39]:
word[42:]

''

In [40]:
# 내장 함수 len() 은 문자열의 길이를 돌려줍니다:
s = 'supercalifragilisticexpialidocious'

In [41]:
len(s)

34

## 02-3 리스트

파이썬은 다른 값들을 덩어리로 묶는데 사용되는 여러 가지 컴파운드 (compound) 자료 형을 알고 있습니다. 가장 융통성이 있는 것은 리스트 인데, 대괄호 사이에 쉼표로 구분된 값(항목)들의 목록으로 표현될 수 있습니다. 리스트는 서로 다른 형의 항목들을 포함할 수 있지만, 항목들이 모두 같은 형인 경우가 많습니다.

In [42]:
squares = [1, 4, 9, 16, 25]

In [43]:
squares

[1, 4, 9, 16, 25]

In [44]:
# 문자열(그리고, 다른 모든 내장 시퀀스 형들)처럼 리스트는 인덱싱하고 슬라이싱할 수 있습니다:
squares[0]  # indexing returns the item

1

In [45]:
squares[-1]

25

In [46]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [47]:
# 모든 슬라이스 연산은 요청한 항목들을 포함하는 새 리스트를 돌려줍니다. 
# 이는 다음과 같은 슬라이스가 리스트의 새로운 얕은 복사본을 돌려준다는 뜻입니다:
squares[:]

[1, 4, 9, 16, 25]

In [48]:
# 리스트는 이어붙이기 같은 연산도 지원합니다:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
# 불변 인 문자열과는 달리, 리스트는 가변 입니다. 즉 내용을 변경할 수 있습니다:

In [50]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [51]:
4 ** 3  # the cube of 4 is 64, not 65!

64

In [52]:
cubes[3] = 64  # replace the wrong value

In [53]:
cubes

[1, 8, 27, 64, 125]

In [54]:
# append() 메서드 (method) (나중에 메서드에 대해 더 자세히 알아볼 것입니다) 를 사용하면 리스트의 끝에 새 항목을 추가할 수 있습니다:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [55]:
# 슬라이스에 대입하는 것도 가능한데, 리스트의 길이를 변경할 수 있고, 모든 항목을 삭제할 수조차 있습니다:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [56]:
 # replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [57]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [58]:
 # clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [59]:
# 내장 함수 len() 은 리스트에도 적용됩니다:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [60]:
# 리스트를 중첩할 수도 있습니다. (다른 리스트를 포함하는 리스트를 만듭니다).
# 예를 들어:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [61]:
x[0]

['a', 'b', 'c']

In [62]:
x[0][1]

'b'

## 02-4 튜플

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

튜플의 모습은 다음과 같다.
``` 
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a','b','('ab','cd'))
```

리스트와 모습은 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점을 찾아볼 수 있다. t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다는 점이다.

프로그래밍을 할 때 튜플과 리스트는 구별해서 사용하는 것이 유리하다. 

튜플과 리스트의 가장 큰 차이는 `값을 변화시킬 수 있는가 여부`이다.

**즉 리스트의 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능하다.**

### 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

앞에서 설명했듯이 튜플의 요솟값은 한 번 정하면 지우거나 변경할 수 없다.

In [63]:
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

튜플의 요소를 리스트처럼 del 함수로 지우려고 한 예이다. **튜플은 요소를 지우는 행위가 지원되지 않는다는 메시지를 확인할 수 있다.**

In [64]:
# 2. 튜플 요솟값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

튜플의 요솟값을 변경하려고 해도 마찬가지로 오류가 발생하는 것을 확인할 수 있다.

**튜플은 값을 변화시킬 수 없다는 점만 제외하면 리스트와 완전히 동일하다**

-> 인덱싱, 슬라이싱, 더하기, 곱하기, 길이 구하기

### 02-5 딕셔너리 자료형

### 딕셔너리란 ?

딕셔너리는 종종 다른 언어들에서 《연관 메모리(associative memories)》 나 《연관 배열(associative arrays)》 의 형태로 발견됩니다.

즉 "people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형이다. 예컨대 Key가 "baseball"이라면 Value는 "야구"가 될 것이다.

딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다. 이것이 바로 딕셔너리의 가장 큰 특징이다. baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.

### 딕셔너리는 어떻게 만들까 ?

다음은 기본 딕셔너리의 모습이다.
```
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다. 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.

> ※ Key에는 변하지 않는 값을 사용하고, Value에는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.

다음 딕셔너리 예를 살펴보자.

In [65]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

# 위에서 Key는 각각 'name', 'phone', 'birth'이고, 각각의 Key에 해당하는 Value는 'pey', '0119993323', '1118'이 된다.

In [66]:
# 다음 예는 Key로 정수 값 1, Value로 문자열 'hi'를 사용한 예이다.
a = {1: 'hi'}

# 또한 다음 예처럼 Value에 리스트도 넣을 수 있다.
a = { 'a': [1,2,3]}

### 딕셔너리 쌍 추가, 삭제하기

#### 딕셔너리 쌍 추가하기

In [67]:
a = {1: 'a'}
a[2] = 'b'
a
# {1: 'a'} 딕셔너리에 a[2] = 'b'와 같이 입력하면 
# 딕셔너리 a에 Key와 Value가 각각 2와 'b'인 2 : 'b'라는 딕셔너리 쌍이 추가된다.

{1: 'a', 2: 'b'}

In [68]:
a['name'] = 'pey'
a
# 딕셔너리 a에 'name': 'pey'라는 쌍이 추가되었다.

{1: 'a', 2: 'b', 'name': 'pey'}

In [69]:
a[3] = [1, 2, 3]
a
# Key는 3, Value는 [1, 2, 3]을 가지는 한 쌍이 또 추가되었다.

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

#### 딕셔너리 요소 삭제하기

In [70]:
del a[1]
a
# 위 예제는 딕셔너리 요소를 지우는 방법을 보여 준다. 
# del 함수를 사용해서 del a[key]처럼 입력하면 지정한 Key에 해당하는 {key : value} 쌍이 삭제된다.

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리를 사용하는 방법

<p>"딕셔너리는 주로 어떤 것을 표현하는 데 사용할까?"라는 의문이 들 것이다.</p>
<p>예를 들어 4명의 사람이 있다고 가정하고, 각자의 특기를 표현할 수 있는 좋은 방법에 대해서 생각해 보자. </p>
<p>리스트나 문자열로는 표현하기가 상당히 까다로울 것이다.</p>
<p>하지만 파이썬의 딕셔너리를 사용한다면 이 상황을 표현하기가 정말 쉽다. 다음 예를 보자.</p>

```
{"김연아":"피겨스케이팅", "류현진":"야구", "박지성":"축구", "귀도":"파이썬"}
```
사람 이름과 특기를 한 쌍으로 하는 딕셔너리이다. 정말 간편하지 않은가?

지금껏 우리는 딕셔너리를 만드는 방법에 대해서만 살펴보았는데 딕셔너리를 제대로 활용하기 위해서는 알아야 할 것이 더 있다. 이제부터 하나씩 알아보자.

#### 딕셔너리에서 Key 사용해 Value 얻기

In [71]:
# 다음 예를 살펴보자.
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [72]:
grade['julliet']

99

리스트나 튜플, 문자열은 요솟값을 얻고자 할 때 인덱싱이나 슬라이싱 기법 중 하나를 사용했다.
하지만 딕셔너리는 단 한 가지 방법뿐이다. 바로 Key를 사용해서 Value를 구하는 방법이다. 

위 예에서 'pey'라는 Key의 Value를 얻기 위해 grade['pey']를 사용한 것처럼 
어떤 Key의 Value를 얻기 위해서는 딕셔너리변수이름[Key]를 사용한다.

#### 딕셔너리 만들 때 주의할 사항

먼저 딕셔너리에서 Key는 고유한 값이므로 **중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다**는 점을 주의해야 한다.

다음 예에서 볼 수 있듯이 동일한 Key가 2개 존재할 경우 1:'a' 쌍이 무시된다.

In [73]:
a = {1:'a', 1: 'b'}
a

{1: 'b'}

이렇게 Key가 중복되었을 때 1개를 제외한 나머지 Key:Value 값이 모두 무시되는 이유는 Key를 통해서 Value를 얻는 딕셔너리의 특징에서 비롯된다.

즉 동일한 Key가 존재하면 어떤 Key에 해당하는 Value를 불러야 할지 알 수 없기 때문이다.

또 한 가지 주의해야 할 사항은 **Key에 리스트는 쓸 수 없다는 것**이다.
하지만 튜플은 Key로 쓸 수 있다. 딕셔너리의 Key로 쓸 수 있느냐 없느냐는 Key가 변하는 값인지 변하지 않는 값인지에 달려 있다. 리스트는 그 값이 변할 수 있기 때문에 Key로 쓸 수 없다. 다음 예처럼 리스트를 Key로 설정하면 리스트를 키 값으로 사용할 수 없다는 오류가 발생한다.

In [74]:
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

따라서 딕셔너리의 Key 값으로 딕셔너리를 사용할 수 없음은 당연하다. 단 Value에는 변하는 값이든 변하지 않는 값이든 상관없이 아무 값이나 넣을 수 있다.